.no-border
	border none

hr
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	background none
	border none
	border-bottom 1px solid default-noir

	margin-top margin-space
	margin-bottom margin-space

.border
	background none
	border none
	border-bottom 1px solid alpha(#fff,0.1)
