input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
	background-color default-white
	border-radius (0)
	border 1px solid default-white
	width 100%
	height 40px
	padding 5px 20px
	margin-bottom margin-space
	color default-noir

input[type="submit"]
	background-color default-white
	border-radius (0)
	border 1px solid default-white
	height 40px
	width 100%
	text-align center
	font-size 1.2rem
	color default-noir
	text-transform uppercase
	margin-top margin-space

textarea
	background-color default-white
	border-radius (0)
	border 1px solid default-white
	width 100%
	color default-noir

&::-webkit-input-placeholder
	font-size 11px
	color default-noir
	opacity 1

&:-moz-placeholder
	font-size 11px
	color default-noir
	opacity 1

&::-moz-placeholder
	font-size 11px
	color default-noir
	opacity 1

&:-ms-input-placeholder
	font-size 11px
	color default-noir
	opacity 1
