/*
**
************** Marges
**
*/
.margin-left
	margin-left margin-space

.margin-right
	margin-right margin-space

.margin-horizontal
	margin-left margin-space
	margin-right margin-space

.margin-top
	margin-top margin-space

.margin-bottom
	margin-bottom margin-space

.margin-vertical
	margin-top margin-space
	margin-bottom margin-space

.margin
	margin margin-space

.margin-auto
	margin auto

.no-margin
	margin 0

/*
**
************** Padding
**
*/
.padding-left
	padding-left padding-space

.padding-right
	padding-right padding-space

.padding-horizontal
	padding-left padding-space
	padding-right padding-space

.padding-top
	padding-top padding-space

.padding-bottom
	padding-bottom padding-space

.padding-vertical
	padding-top padding-space
	padding-bottom padding-space

.padding
	padding padding-space

.padding-auto
	padding auto

.no-padding
	padding 0
