p
	font-size 1.4rem

strong
	font-weight normal

.center-align
	text-align center

.right-align
	text-align right

.left-align
	text-align left

.justify-align
	text-align justify

.small-text
	font-size 1.1rem

.uppercase
	text-transform uppercase

.capitalize
	text-transform capitalize

.normal
	text-transform none !important
	text-decoration none

.word-wrap
	white-space normal
	word-break break-all

.no-decoration
	text-decoration none

.pre
	white-space pre

.pre-wrap
	white-space pre-wrap

.pre-line
	white-space pre-line
	word-break break-all
