/*
**
************** Position
**
*/
h1,
h2,
h3,
h4,
h5
    margin-top margin-space
    margin-bottom margin-space
    font-family font-typeTitle
    color default-noir

h1
    font-size 5rem
    line-height 5rem

h2
    font-size 2.8rem
    line-height 2.8rem

h3
    font-size 1.4rem

h4
    font-size 1.2rem

/*
**
************** Specific
**
*/
