@media (max-width: container-width)
	.container
		width 100%

@media (max-width: 750px)
	body
		position relative

@media (max-width: 640px)
	body
		position relative

@media (max-width: 460px)
	body
		position relative
