@media (max-width: 768px)
	body
		position relative

@media (max-width: 750px)
	body
		position relative
		
@media (max-width: 640px)
	body
		position relative

@media (max-width: 460px)
	body
		position relative