vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

user-select()
	vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false, texture = '', texture-position = '', texture-repeat = '')
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background texture texture-repeat, -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background texture texture-position texture-repeat, -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background texture texture-position texture-repeat, -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background texture texture-position texture-repeat, -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background texture texture-position texture-repeat, -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background texture texture-position texture-repeat, -linear-gradient(startPoint, startColor startInterval, endColor endInterval)

add(a, b)
	a + b

sub(a, b)
	a - b

vertical-center(height)
	height height
	line-height height !important
	display inline-block
	vertical-align middle

conteneur =
	background-color default-white
	border 1px solid extraLight-purple
	margin 0 20px

flex-reverse =
	box-orient vertical !important
	-webkit-box-orient vertical !important
	-moz-box-orient vertical !important
	-ms-box-orient vertical !important
	-ms-flex-direction column !important
	-webkit-flex-direction column !important
	-moz-flex-direction column !important
	flex-direction column !important
