/**
 * Colors
 */
default-blanc		= #ffffff
default-noir 		= #000000

/**
 * Spacing
 */
padding-space = 30px
margin-space = 30px

/**
 * fonts
 */
font-typeTitle = "Lucida Grande", Arial
font-typeText = "Lucida Grande", Arial

/**
 * Other
 */
container-width = 1310px
radius-width = 3px
